.button{
    background-color: red;
    display: inline-block;
    border: 2px solid black;
    height: 50px;
    width: 100px;
     text-align: center;
   position: relative;
   left:49vw;
    top: 50vh;

    transition-duration: 0.5s;
}
.button:hover{
    background-color: rgb(215, 250, 220);
    transform: translateY(-10px);
}